---
import { personalInfo } from "../utils/data.js";
---

<footer class="w-full bg-white px-5 py-20 mt-10">
  <div
    class="max-w-screen-xl mx-auto flex flex-col md:flex-row justify-between items-center bg-gray-50 rounded-3xl p-10 mb-10 overflow-hidden relative"
  >
    <div
      class="w-full text-center z-10 px-4 md:px-0 relative mb-10 md:mb-0 py-10"
    >
      <h2
        class="text-4xl md:text-5xl font-semibold text-gray-900 mb-10 max-w-2xl mx-auto"
      >
        Let's Build Something Remarkable
      </h2>
      <div class="flex flex-col sm:flex-row items-center justify-center gap-4">
        <a
          href="/projects"
          class="group flex items-center bg-black text-white px-8 py-4 rounded-full font-medium text-lg hover:bg-gray-800 transition"
        >
          <span>Start a Project</span>
          <svg
            class="w-5 h-5 ml-2 opacity-70 group-hover:opacity-100 transition-opacity"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.78166 5.33312L5.20566 1.75712L6.14833 0.814453L11.3337 5.99979L6.14833 11.1851L5.20566 10.2425L8.78166 6.66645H0.666992V5.33312H8.78166Z"
              fill="currentColor"></path>
          </svg>
        </a>
        <a
          href={`mailto:${personalInfo.email}`}
          class="group flex items-center bg-white border border-gray-300 text-black px-8 py-4 rounded-full font-medium text-lg hover:bg-gray-50 transition"
        >
          <span>Contact Me</span>
          <svg
            class="w-5 h-5 ml-2 opacity-70 group-hover:opacity-100 transition-opacity"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.78166 5.33312L5.20566 1.75712L6.14833 0.814453L11.3337 5.99979L6.14833 11.1851L5.20566 10.2425L8.78166 6.66645H0.666992V5.33312H8.78166Z"
              fill="currentColor"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div
    class="max-w-screen-xl mx-auto flex flex-col lg:flex-row justify-between items-center text-base text-gray-600 gap-8 mt-10 border-t border-gray-200 pt-8"
  >
    <div class="flex flex-wrap justify-center gap-6 font-medium">
      <a href="/" class="hover:text-black hover:underline" aria-current="page"
        >Home</a
      >
      <a href="/projects" class="hover:text-black hover:underline">Projects</a>
      <a href="/services" class="hover:text-black hover:underline">Services</a>
      <a href="/about" class="hover:text-black hover:underline">About us</a>
      <a href="/blogs" class="hover:text-black hover:underline">Blog</a>
    </div>

    <div class="flex flex-wrap justify-center gap-6 font-medium">
      <a
        href={personalInfo.github}
        target="_blank"
        class="hover:text-black hover:underline">GitHub</a
      >
      <a
        href={personalInfo.linkedin}
        target="_blank"
        class="hover:text-black hover:underline">LinkedIn</a
      >
      <a
        href={personalInfo.leetcode}
        target="_blank"
        class="hover:text-black hover:underline">LeetCode</a
      >
      <a
        href={`mailto:${personalInfo.email}`}
        target="_blank"
        class="hover:text-black hover:underline">Email</a
      >
    </div>

    <div class="font-medium text-center flex gap-2 justify-center items-center">
      Designed by <a
        href={personalInfo.github}
        target="_blank"
        class="text-black hover:underline">{personalInfo.name}</a
      >
      <span class="w-1.5 h-1.5 bg-gray-300 rounded-full mx-1"></span>
      <a
        href="/resume.pdf"
        download="resume.pdf"
        class="hover:text-black hover:underline">Resume</a
      >
    </div>
  </div>
</footer>
